@charset "UTF-8";
@import url(f:\Всячина\Study\html\Gamers\Home\css\style.css);
.block {
  padding-top: 1.2%;
}

.menu-link {
  color: black;
}

.menu-link:hover {
  border-color: black;
  color: black;
}

.navigation {
  border-bottom: none;
}

.footer {
  clear: both;
  margin: 81px 0px 0px 0px;
  background-color: #e1e1e1;
  border-top: 1px solid #000;
}

.contacts-text {
  color: black;
}

.leach-king {
  margin-right: 30px;
}

.gallery-margin {
  margin-top: 90px;
}

.grey-bg {
  background-color: #f7f7f7;
}

.fgallery {
  border: 0;
  margin: 0px 0px 0px 0px;
  background-color: #f7f7f7;
}

.tgallery {
  margin-top: 81px;
  border-top: 1px solid #000;
}

.name-lich {
  text-transform: capitalize;
}

.more-games {
  border: 1px solid #000;
  padding: 11px 36px 11px 36px;
  max-width: 136px;
  margin: 80px auto;
  text-align: left;
  cursor: pointer;
}

.more-games a {
  text-decoration: none;
  color: #000;
  display: block;
  font-family: "Roboto Condensed";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.36px;
}

.more-games .more-games-arrow {
  color: black;
  font-size: 17px;
  padding: 3px 0 0 0;
  border: 0;
  margin-left: 4px;
}

.more-games:active {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.game-buy:active {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.gallery_sell {
  padding-bottom: 174px;
  background-color: #f7f7f7;
}

.gallery_sell:after {
  content: " ";
  display: table;
  clear: both;
}

.gallery_sell__cod {
  float: left;
  width: 50%;
  background-image: url(../img/bgmw3.jpg);
  background-position: right;
  background-repeat: no-repeat;
}

.gallery_sell__content {
  width: 50%;
  padding: 146px 55px 146px 116px;
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(0%, #f9f9f9), color-stop(30%, #f2f2f4), color-stop(100%, rgba(2, 0, 36, 0)), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(left, white 0%, #f9f9f9 0%, #f2f2f4 30%, rgba(2, 0, 36, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(left, white 0%, #f9f9f9 0%, #f2f2f4 30%, rgba(2, 0, 36, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(90deg, white 0%, #f9f9f9 0%, #f2f2f4 30%, rgba(2, 0, 36, 0) 100%, rgba(0, 0, 0, 0) 100%);
}

.gallery_sell-moh {
  padding-top: 186px;
}

.gallery_sell--discount {
  color: #010101;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;
}

.gallery_sell--heading {
  color: #f44336;
  font-family: Poppins;
  font-size: 36px;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;
}

.heading_mw3 {
  text-transform: capitalize;
}

.gallery_sell--price_big {
  display: inline-block;
  color: #000;
  font-family: Poppins;
  font-size: 3.22917vw;
  font-weight: 300;
  line-height: 48px;
  margin-top: 1.40625vw;
}

.gallery_sell--price_small {
  display: inline-block;
  color: #8c8c8c;
  font-family: Poppins;
  font-size: 1.875vw;
  font-weight: 300;
  line-height: 48px;
  text-decoration: line-through;
}

.gallery_sell--button {
  display: inline-block;
  background-color: #f44336;
  margin-top: 20px;
  padding: 16px 105px;
  text-decoration: none;
  color: #ffffff;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.gallery_sell__moh {
  float: right;
  width: 50%;
  background-image: url(../img/bgmoh.jpg);
  background-position: right;
  background-repeat: no-repeat;
}

@media (max-width: 1023.99px) {
  .gallery_sell__cod {
    float: none;
    width: 100%;
    margin: 0 auto;
    overflow: scroll;
  }
  .gallery_sell__moh {
    float: none;
    width: 100%;
    margin: 0 auto;
    overflow: scroll;
    display: block;
  }
  .gallery_sell__content {
    padding-bottom: 15%;
  }
}

@media (max-width: 802px) {
  .menu-link {
    color: #fff;
  }
}

@media (max-width: 591px) {
  .wrap-1,
  .wrap-2 {
    display: block;
  }
  .gallery-margin {
    margin-top: 5px;
  }
  .rogue,
  .leech-king,
  .leach-king,
  .ryse,
  .lich-king,
  .tomb-raider {
    margin: 10px auto;
  }
}

@media (max-width: 390px) {
  .gallery_sell__moh {
    background-position: 75% 0%;
  }
  .gallery_sell--discount {
    font-size: 14px;
  }
  .gallery_sell--heading {
    font-size: 20px;
  }
  .gallery_sell--price_big {
    font-size: 18px;
  }
  .gallery_sell--price_small {
    font-size: 10.5px;
    color: #c7b7b7;
  }
  .gallery_sell--button {
    padding: 5px 35px;
    font-size: 10px;
  }
}
