@charset "UTF-8";
@import url(f:\Всячина\Study\html\Gamers\Home\css\style.css);
.block {
  padding-top: 1.2%;
}

.menu-link {
  color: black;
}

.menu-link:hover {
  border-color: black;
  color: black;
}

.navigation {
  border-bottom: none;
}

.footer {
  clear: both;
  margin: 4.2% 0px 0px 0px;
  background-color: #e1e1e1;
  border-top: 1px solid #000;
}

.contacts-text {
  color: black;
}

.leach-king {
  margin-right: 30px;
}

.gallery-margin {
  margin-top: 90px;
}

.grey-bg {
  background-color: #f7f7f7;
}

.fgallery {
  border: 0;
  margin: 0px 0px 0px 0px;
  background-color: #f7f7f7;
}

.tgallery {
  margin-top: 4.2%;
  border-top: 1px solid #000;
}

.name-lich {
  text-transform: capitalize;
}

.more-games {
  border: 1px solid #000;
  padding: 11px 36px 11px 36px;
  max-width: 136px;
  margin: 80px auto;
  text-align: left;
  cursor: pointer;
}

.more-games a {
  text-decoration: none;
  color: #000;
  display: block;
  font-family: "Roboto Condensed";
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.36px;
}

.more-games .more-games-arrow {
  color: black;
  font-size: 17px;
  padding: 3px 0 0 0;
  border: 0;
  margin-left: 4px;
}

.more-games:active {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.game-buy:active {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
